<%= form_with url: "users/create", method: :post, local: true do |f| %>
<p>メールアドレス</p>
<%= f.text_field :name %>
<p>パスワード</p>
<%= f.password_field :password %>
  <%= f.submit :ログイン %>
<% end %>

<h1>20211130</h1>