// Place all the styles related to the lives controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
  
th, td {
  font-size: 15px;
}

.box2 {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: black;/*文字色*/
  background: #FFF;
  border: solid 3px #61f045;/*線*/
  border-radius: 10px;/*角の丸み*/
}