// Place all the styles related to the lives controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
  
.display{
  justify-content: center;/*コンテンツを全体的に中央へ*/
}

.box2 {
  padding: 0.5em 1em;
  margin: 1em;
  text-align:center;
  color: black;/*文字色*/
  background: #FFF;
  border: solid 3px #f045ae;/*線*/
  border-radius: 10px;/*角の丸み*/
}

/*メディアクエリ=画面の幅によって適用するCSSを変える(レスポンシブ)*/

@media screen and (min-width:1024px) {
  /*　画面サイズが1024pxからはここを読み込む　*/
  .display{
   display:flex; /*横並びにする*/
   flex-wrap:wrap;/*折り返し*/
  }
}